body {
    width: 100vw;
    height: 100vh;
    margin: 0%;
    background: url("../assets/images/soon.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    object-fit: cover;
}

body .soon-container {
    width: 100%;
    height: 100%;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: white;
    backdrop-filter: blur(8px);
}