@media screen and (prefers-color-scheme: dark) {
  :root {
    color-scheme: dark;

    --shadow-color: 0, 0, 0;
    --pri-fg-color: 255, 255, 255;
    --pri-bg-color: 26, 26, 26;
    --sec-bg-color: 64, 64, 64;
  }
}

@media screen and (prefers-color-scheme: light) {
  :root {
    color-scheme: light;

    --shadow-color: 136, 136, 136;
    --pri-fg-color: 26, 26, 26;
    --pri-bg-color: 225, 225, 225;
    --sec-bg-color: 246, 246, 246
  }
}

.pane-box {
  height: 100%;
  background-color: rgba(var(--sec-bg-color), 1);
  box-shadow: 0px 0px 5px rgb(var(--shadow-color));
}

.pane-box .pane-img {
  width: 100%;
  height: 40%;
}

.pane-box .pane-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.pane-box .pane-txt {
  width: 100%;
  height: 60%;
  padding: 10px;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.box-siz-md {
  max-width: 600px;
  max-height: 600px;
}

body {
  margin: 0%;
  color: rgba(var(--pri-fg-color), 1);
  background-color: rgba(var(--pri-bg-color), 1);
}

header {
  width: 100%;
  height: 60px;
  z-index: 10000;
  position: fixed;
  transition: all 0.5s linear;
}

header a {
  color: white;
  text-decoration: none;
}

header a:hover {
  color: white;
}

header.theme-static {
  background-color: transparent;
}

header.theme-scroll {
  backdrop-filter: blur(10px);
  background-color: rgba(var(--sec-bg-color), 0.5);
}

header nav #logo {
  width: 50px;
  height: 50px;
  padding: 10px;
}

header nav #menu-btn {
  position: relative;
  border: none;
  color: white;
  background-color: transparent;
  z-index: 100000;
}

header #menu-bar {
  width: 0;
  height: 100vh;
  padding-top: 80px;
  top: 0;
  right: 0;
  position: fixed;
  color: #fff;
  background-color: #04619f;
  transition: width 0.5s linear;
}

header #menu-bar ul {
  list-style: none;
}

main #home {
  width: 100%;
  height: 100vh;
  color: white;
  background-color: #000000;
  background-image: linear-gradient(45deg, #000000, #04619f);
}

main #about {
  width: 100%;
  padding-top: 80px;
  color: rgba(var(--pri-fg-color), 1);
  background-color: rgba(var(--pri-bg-color), 1);
}

main #services {
  width: 100%;
  padding-top: 80px;
  color: rgba(var(--pri-fg-color), 1);
  background-color: rgba(var(--pri-bg-color), 1);
}

main #products {
  width: 100%;
  padding-top: 80px;
  color: rgba(var(--pri-fg-color), 1);
  background-color: rgba(var(--pri-bg-color), 1);
}

main #products #products-bg {
  width: 100%;
  height: 400px;
  background-color: rgba(var(--sec-bg-color), 1);
  background: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url("../images/PBG.jpg");
  object-fit: cover;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

main #products #products-bg #products-content-wrapper {
  height: 100%;
  width: 100%;
  backdrop-filter: blur(3px);
}

main #products #products-bg #products-content {
  max-width: 100%;
  color: white;
}

footer {
  width: 100%;
  background-color: rgba(var(--sec-bg-color), 1);
}

footer a {
  color: rgba(var(--pri-fg-color), 1);
  text-decoration: none;
}

footer a:hover {
  color: rgba(var(--pri-fg-color), 1);
}

footer .footer-content {
  margin: 20px;
}

footer .footer-content p {
  font-size: 15px;
  margin: 0;
  font-weight: bold;
}

footer .footer-content ul {
  font-size: 11px;
}

footer .footer-content ul li {
  margin-top: 10px;
  margin-bottom: 10px; 
}
