:root {
  --nav-bg-color: rgba(0, 0, 0, 0.5);
  --nav-fg-color: #fff;
  --def-bg-color: #e6e6e6;
  --def-fg-color: #333333;
}

header {
  width: 100%;
  height: 60px;
  position: fixed;
  transition: all 0.5s linear;
}

header a {
  color: var(--nav-fg-color);
  text-decoration: none;
}

header a:hover {
  color: var(--nav-fg-color);
}

header.theme-static {
  background-color: transparent;
}

header.theme-scroll {
  backdrop-filter: blur(10px);
  background-color: var(--nav-bg-color);
}

header nav #menu-btn {
  position: relative;
  border: none;
  color: var(--nav-fg-color);
  background-color: transparent;
  z-index: 100000;
}

header #menu-bar {
  width: 0;
  height: 100vh;
  padding-top: 80px;
  top: 0;
  right: 0;
  position: fixed;
  color: #fff;
  background-color: #928DAB;
  transition: width 0.5s linear;
}

header #menu-bar ul {
  list-style: none;
}

main #home {
  width: 100%;
  height: 100vh;
  padding-top: 80px;
  background: #00d2ff;
  background: -webkit-linear-gradient(to top, #928DAB, #00d2ff);
  background: linear-gradient(to top, #928DAB, #00d2ff);
}

main #about {
  width: 100%;
  height: 100vh;
  padding-top: 80px;
  color: var(--def-fg-color);
  background-color: var(--def-bg-color);
}